@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;

}

body {
    background-color: black;
}

.main {
    background-image: url(ASSESTS/IMGS/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1300px, 100vw);
    height: 100vh;
    position: relative;


}

.main .box {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0%;
    opacity: 0.69;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    align-items: center;
    margin: auto;
    height: 62px;
}

nav img {
    height: 120px;
    width: 150px;
    position: relative;
    z-index: 10;
    margin-top: 20%;
    margin-left: 15%;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Martel Sans", sans-serif;

    height: calc(95% - 29px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

    position: relative;
    padding: 0 30px;

}

.hero> :first-child {
    font-family: 'poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    margin-top: 0;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 17px;
    text-align: center;
}

.line {
    height: 8px;
    background-color: rgb(46, 44, 44);
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
}

.btn-red {
    background-color: red;
    color: white;
    margin-right: 30px;
    border: none;
    border-radius: 4px;
    padding: 6px 13px;
    cursor: pointer;

}

.eng {
    padding: 5px 28px;
    font-weight: bold;
    color: white;
    border: 1px solid rgba(246, 238, 238, 0.5);
    border-radius: 3px;
    background-color: rgba(23, 23, 23, 0.7);
    margin-right: 15px;
    margin-top: 20px;
    cursor: pointer;
}

.btn-sm {
    background-color: red;
    color: white;
    padding: 10px 32px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

.main input {
    background-color: rgba(23, 23, 23, 0.7);
    color: white;
    padding: 11px 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
    font-size: 15px;
    border-radius: 4px;
    font-weight: 900;
    margin-top: 15px;
    border: 1px solid rgba(246, 238, 238, 0.5);

}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}



.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}


.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}



@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}